<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Witaj muzycznym sklepie Kamila: @ViewBag.Title</title>
    <meta name="author" content="Kamil's Vinyl Shop">
    <meta name="description" content="Store front for Kamil's Vinyl Shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png"/>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">

    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/small.css" rel="stylesheet"/>
    <link href="css/medium.css" rel="stylesheet"/>
    <link href="css/large.css" rel="stylesheet"/>


    @* <link rel="stylesheet" href="~/css/site.css"/> *@
    <!-- [if lt IE 9] <script src="https://oss.maxcdn.com/libs/html5shiv.js"></script>[endif] -->

</head>

<body>
<header id="mainheader">
    <nav>
        <a href="/">
            <img src="img/vinyl-svgrepo-com.svg" height="55"/>
        </a>
        <ul>
            <li>
                <a href="/app/contact">Kontakt</a>
            </li>
            <li>
                <a href="/app/about">O nas</a>
            </li>
        </ul>
    </nav>
</header>
@RenderBody()
<footer class="clearfix">
    <div class="row">
        <section class="column small-12 medium-6 large-3">
            <h2>Lokalizacja</h2>
            <ul>
                <li>
                    Cyman Records
                </li>
                <li>
                    Grunwaldzka 76/78 lok. 120
                </li>
                <li>
                    80-244 Gdańsk
                </li>
                <li>
                    Polska
                </li>
            </ul>
        </section>
        <section class="column small-12 medium-6 large-3">
            <h2>Firma</h2>
            <ul>
                <li>
                    Regulamin
                </li>
                <li>
                    Kontakt z nami
                </li>
                <li>
                    Sklepy
                </li>

            </ul>
        </section>
        <section class="column small-12 medium-6 large-3">
            <h2>Social</h2>
            <ul>
                <li>
                    Facebook
                </li>
                <li>
                    Instagram
                </li>
            </ul>
        </section>
        <section class="column small-12 medium-6 large-3">
            <h2>O nas</h2>
            <ul>
                <li>
                    Cyman Records to sklep płytowy z Gdańska, obecny na rynku od początku 2016 roku. Specjalizuje się w muzyce elektronicznej.
                </li>
            </ul>
            <p>&copy; 2020 &bull;; Oprogramowanie e-sklepu od Kamil Sałęga</p>
        </section>
    </div>
</footer>
</body>
</html>
