body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
}

#mainheader {
    background-color: white;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.15);
}

nav li {
    display: inline;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
    border-color: rgba(0, 0, 0, 0.15);
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

footer {
    clear: both;
    width: 100%;
}

header, section, footer, aside, nav, main, article, figure {
    display: block
}
